/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  display: block;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.header-class {
  background-color: #21212E;
  padding: 20px 0px;
}

.header-class .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-class li {
  display: inline-block;
}

.header-class li a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 0px 15px;
  text-transform: uppercase;
  font-size: 15px;
}

.header-class img {
  height: 120px;
}

.header-class .up-reg li {
  padding: 15px;
}

.header-class .up-reg li a {
  border-radius: 5%;
  font-size: 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(#22c1c3), to(#bd11fa));
  background: linear-gradient(0deg, #22c1c3 0%, #bd11fa 100%);
  padding: 15px;
}

.home {
  background-color: #21212E;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.home ul li {
  padding: 15px 0px;
}

.home ul li a {
  background: -webkit-gradient(linear, left bottom, left top, from(#22c1c3), to(#bd11fa));
  background: linear-gradient(0deg, #22c1c3 0%, #bd11fa 100%);
  padding: 15px;
  border-radius: 2%;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.4);
}

.home li:nth-child(1) {
  color: #FFFFFF;
  font-size: 20px;
}

.home li:nth-child(2) {
  color: #46C2FF;
  font-size: 70px;
}

.events {
  background-color: #21212E;
  padding: 60px 0px;
}

.events .events-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.events .events-wrapper img {
  height: 350px;
  -webkit-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.4);
}

.events li {
  color: #FFFFFF;
  font-size: 15px;
  margin: 10px 0px 0px 0px;
  background-color: #20202C;
  padding: 15px 0px 15px 15px;
  -webkit-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.4);
  border-radius: 1%;
}

.events li a {
  font-size: 15px;
  background-color: #BD11FA;
  padding: 19px 15px 15px 15px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 2%;
}

.events li a:hover {
  background-color: #46C2FF;
  color: #20202C;
}

.date {
  color: #BD11FA;
  font-size: 20px;
  padding-right: 10px;
}

.month {
  color: #46C2FF;
  font-size: 15px;
  padding-right: 10px;
}

.time {
  color: #46C2FF;
  font-size: 15px;
  padding: 0px 10px;
}

.events-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.artist-wrapper {
  width: 360px;
  height: 280px;
  background-color: #20202C;
  border-radius: 1.5%;
  -webkit-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.4);
}

.artist-wrapper .artist-img {
  width: 100%;
}

.artist-wrapper .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
}

.artist-wrapper .location a {
  color: #46C2FF;
  font-size: 15px;
  text-decoration: none;
  padding-right: 10px;
}

.artist-wrapper .location img {
  height: 30px;
}

.artist-wrapper .artist-description {
  color: #FFFFFF;
  padding: 15px;
}

.artist-wrapper .artist-description hr {
  border-color: #BD11FA;
  width: 60%;
  margin-right: 240px;
}

.artist-wrapper .artist-description p {
  width: 310px;
  font-size: 12px;
  line-height: 1.5;
}

.artist-wrapper .artist-description h2 {
  font-size: 20px;
  text-align: left;
}

.artist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px;
}

.artist_section {
  background-color: #21212E;
  padding: 60px 0px;
}

.artist_section h2 {
  font-size: 35px;
  color: #46C2FF;
  text-align: center;
}
