/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: block;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.header-class {
  background-color: #21212E;
  padding: 20px 0px;
}

.header-class .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-class li {
  display: inline-block;
}

.header-class li a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 0px 15px;
  text-transform: uppercase;
  font-size: 15px;
}

.header-class img {
  height: 120px;
}

.header-class .up-reg li a {
  border-radius: 3px;
  font-size: 15px;
  background: -webkit-gradient(linear, left top, right top, from(#46C2FF), to(#BD11FA));
  background: linear-gradient(to right, #46C2FF, #BD11FA);
  -webkit-filter: drop-shadow(0px 0px 10px #822EFF);
          filter: drop-shadow(0px 0px 10px #822EFF);
  padding: 10px 20px;
}

.header-class .up-reg li a:hover {
  color: #46C2FF;
  border: 0.5px solid #46C2FF;
  background: #21212E;
  -webkit-filter: drop-shadow(0px 0px 0px);
          filter: drop-shadow(0px 0px 0px);
  padding: 10px 19px;
  border-radius: 3px;
}

.up-reg li:nth-child(1) {
  padding-right: 15px;
}

.home {
  background-color: #21212E;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.home ul li a {
  background: -webkit-gradient(linear, left top, right top, from(#46C2FF), to(#BD11FA));
  background: linear-gradient(to right, #46C2FF, #BD11FA);
  padding: 15px;
  border-radius: 3px;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-filter: drop-shadow(0px 0px 10px #822EFF);
          filter: drop-shadow(0px 0px 10px #822EFF);
}

.home ul li a:hover {
  color: #46C2FF;
  border: 0.5px solid #46C2FF;
  background: #21212E;
  -webkit-filter: drop-shadow(0px 0px 0px);
          filter: drop-shadow(0px 0px 0px);
  padding: 14px;
  border-radius: 3px;
}

.home li:nth-child(1) {
  color: #FFFFFF;
  font-size: 20px;
  padding: 0px 0px 30px 0px;
}

.home li:nth-child(2) {
  color: #46C2FF;
  font-size: 58px;
  padding: 0px 0px 30px 0px;
}

.home li:nth-child(3) {
  padding: 30px 0px 0px 0px;
}

.events {
  background-color: #21212E;
  padding: 60px 0px;
}

.events .events-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.events .events-wrapper .events-picture {
  width: 500px;
}

.events .events-wrapper .events-picture img {
  width: 100%;
  -webkit-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.4);
}

.events li {
  color: #FFFFFF;
  font-size: 15px;
  margin: 10px 0px 0px 0px;
  background-color: #20202C;
  padding: 15px 0px 15px 15px;
  -webkit-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.4);
  border-radius: 1%;
}

.events li a {
  font-size: 15px;
  background-color: #BD11FA;
  padding: 16px 15px 13px 15px;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 3px;
}

.events li a:hover {
  color: #46C2FF;
  border: 0.5px solid #46C2FF;
  background: #21212E;
  -webkit-filter: drop-shadow(0px 0px 0px);
          filter: drop-shadow(0px 0px 0px);
  padding: 15px 14px 12px 14px;
  border-radius: 3px;
}

.date {
  color: #BD11FA;
  font-size: 20px;
  padding-right: 10px;
}

.month {
  color: #46C2FF;
  font-size: 15px;
  padding-right: 10px;
}

.time {
  color: #46C2FF;
  font-size: 15px;
  padding: 0px 10px;
}

.events-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #46C2FF;
}

.artist-wrapper {
  width: 360px;
  height: 280px;
  background-color: #20202C;
  border-radius: 1.5%;
  -webkit-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.4);
}

.artist-wrapper .artist-img {
  width: 100%;
}

.artist-wrapper .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
}

.artist-wrapper .location a {
  color: #46C2FF;
  font-size: 15px;
  text-decoration: none;
  padding-right: 10px;
}

.artist-wrapper .location img {
  height: 30px;
}

.artist-wrapper .artist-description {
  color: #FFFFFF;
  padding: 15px;
}

.artist-wrapper .artist-description hr {
  border-color: #BD11FA;
  margin-right: 50%;
}

.artist-wrapper .artist-description p {
  width: 310px;
  font-size: 12px;
  line-height: 1.5;
}

.artist-wrapper .artist-description h2 {
  font-size: 20px;
  text-align: left;
}

.artist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px;
}

.artist_section {
  background-color: #21212E;
  padding: 60px 0px;
}

.artist_section h2 {
  font-size: 35px;
  color: #46C2FF;
  text-align: center;
}

.subscribe-section {
  background-color: #21212E;
  padding: 0px 0px 100px 0px;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #262635;
  color: white;
  border-radius: 1.5%;
  -webkit-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.4);
}

.subscribe .subscribe-text {
  padding: 40px 0px 40px 40px;
}

.subscribe .subscribe-email {
  padding: 40px 40px 40px 0px;
}

.about-section {
  background-color: #21212E;
  padding: 0px 0px 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section .about-wrapper {
  border-radius: 1.5%;
  background-color: #20202C;
  -webkit-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.4);
}

.about-section .about-wrapper .about {
  color: #FFFFFF;
  padding: 40px 40px 20px 40px;
}

.about-section .about-wrapper .about h2 {
  font-size: 30px;
  color: #46C2FF;
}

.about-section .about-wrapper .about hr {
  border-color: #BD11FA;
  margin-right: 50%;
}

.about-section .about-wrapper .about p {
  line-height: 1.5;
  text-align: justify;
}

.about-section .about-wrapper .apps-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 40px 40px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section .about-wrapper .apps-logo .apple {
  padding-right: 10px;
}

.about-section .about-wrapper .apps-logo img {
  width: 120px;
}

.contact-section {
  background-color: #21212E;
  padding: 0px 0px 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-section .contact-wrapper {
  border-radius: 1.5%;
  background-color: #20202C;
  -webkit-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.4);
}

.contact-section .contact-wrapper .contact {
  color: #FFFFFF;
  padding: 40px 40px 20px 40px;
}

.contact-section .contact-wrapper .contact h2 {
  font-size: 30px;
  color: #46C2FF;
}

.contact-section .contact-wrapper .contact hr {
  border-color: #BD11FA;
  margin-right: 50%;
}

.contact-section .contact-wrapper .contact p {
  line-height: 1.5;
  text-align: justify;
}

.contact-section .contact-wrapper .social-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 40px 40px 40px;
}

.contact-section .contact-wrapper .social-logo img {
  width: 120px;
}

.contact-section .contact-wrapper .social-logo .apps .fb {
  color: #4267B2;
  font-size: 30px;
  padding-right: 10px;
}

.contact-section .contact-wrapper .social-logo .apps .twitter {
  color: #1DA1F2;
  font-size: 30px;
  padding-right: 10px;
}

.contact-section .contact-wrapper .social-logo .apps .inst {
  color: #125688;
  font-size: 31.5px;
}
