.header-class{
    background-color: #21212E;
    padding: 20px 0px;
    .header-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    li{
        display: inline-block;
        a{
            color:#FFFFFF;
            text-decoration: none;
            padding: 0px 15px;
            text-transform: uppercase;
            font-size: 15px;
        }
    }
    img{
        height: 120px;
    }
    .up-reg{
        li{
            
            a{
            border-radius: 3px;
            font-size: 15px;
            background: linear-gradient(to right, #46C2FF, #BD11FA);
            filter: drop-shadow(0px 0px 10px #822EFF);
            padding: 10px 20px;
            }
            a:hover{
                color: #46C2FF;
                border: 0.5px solid #46C2FF;
                background: #21212E;
                filter: drop-shadow(0px 0px 0px);
                padding: 10px 19px;
                border-radius: 3px;
            }
        }
        
    }
}
.up-reg{
    li:nth-child(1){
        padding-right: 15px;
    }
}
