
.home{
    background-color: #21212E;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    ul{
    li{
        a{
            background: linear-gradient(to right, #46C2FF, #BD11FA);
            padding: 15px;
            border-radius: 3px;
            font-size: 20px;
            color: #FFFFFF;
            text-decoration: none;
            filter: drop-shadow(0px 0px 10px #822EFF);
            
        }
        a:hover{
            color: #46C2FF;
            border: 0.5px solid #46C2FF;
            background: #21212E;
            filter: drop-shadow(0px 0px 0px);
            padding: 14px;
            border-radius: 3px;
        }
    }
    }
    li:nth-child(1){
        color: #FFFFFF;
        font-size: 20px;
        padding: 0px 0px 30px 0px;
    }
    li:nth-child(2){
        color: #46C2FF;
        font-size: 58px;
        padding: 0px 0px 30px 0px;
    }
    li:nth-child(3){
        padding: 30px 0px 0px 0px;
    }
}


